@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "react-bootstrap-sidebar-menu/dist/sidebar-menu.scss"; */
* {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --black1: #292929;
  --black2: #212121;
  --gray: #6e6e6e;
  --gray1: #9b9b9b;
  --lightgray: #aaaaaa;
  --lightgray1: #f6f6f7;
  --lightgray2: #f2f2f2;
  --lightgray3: #e5e6e9;
  --red: #ff4545;
  --orange: #f7931a;
  --orange1: #f2672a;
  --blue1: #0067c1;
  --blue2: #2264e5;
  --blue3: #f4f7fc;
  --green: #00ae06;
  --purple: #593167;
  --navy: #102d53;
  --darkblue: #102d53;
}

html,
body,
.wrapper,
.mainArea,
.mainArea .row {
  height: 100%;
}
.wrapper {
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-size: 12px;
  line-height: 18px;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: var(--navy);
}
.action-holder {
  justify-content: end;
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 10px;
  color: var(--white);
  border-radius: 7px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
.form-select {
  max-height: 200px; /* Limit the height of the dropdown */
  overflow-y: auto; /* Enable vertical scrolling inside the dropdown */
}
.success-message {
  display: block;
  padding-bottom: 5px;
  color: green;
}
.error-message {
  display: block;
  padding-bottom: 5px;
  color: red;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
         
  supported by Chrome, Edge, Opera and Firefox */
}
.link {
  cursor: pointer;
  color: #0067c1;
}
.actions-style {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  padding-left: 0;
  justify-content: center;
}
.actions-style li {
  font-size: 15px;
}
.actions-style .trash {
  color: red;
}
.edit-icon {
  font-size: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.btn-wrap {
  justify-content: space-between;
  align-items: center;
}
.btn1 {
  display: inline-block;
  padding: 10px 10px;
  color: var(--white);
  border-radius: 7px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}
.btn1:hover {
  background-color: var(--blue2);
  color: var(--white);
}
.pr-10 {
  padding-right: 5px;
}
div[dir="rtl"].pr-10 {
  padding-left: 5px;
  padding-right: 15px;
}
.pl-10 {
  padding-left: 5px;
}
div[dir="rtl"].pl-10 {
  padding-right: 5px;
  padding-left: 15px;
}
.wrapper {
  padding-top: 44px;
}
.btn-blue {
  background-color: var(--blue2);
}
.btn-blue:hover {
  background-color: var(--blue1);
  color: var(--white);
}
.btn-green {
  background-color: var(--green);
}
.btn-green:hover {
  background-color: var(--green);
  color: var(--white);
}
.btn-gray {
  background-color: var(--lightgray1);
  color: var(--black);
}
.btn-gray:hover {
  background-color: var(--lightgray2);
  color: var(--black);
}
.btn-blue {
  background-color: var(--darkblue);
  color: var(--white);
}
.btn-blue:hover {
  background-color: var(--black2);
  color: var(--white);
}
.siteHeader {
  background-color: var(--black1);
  color: var(--lightgray);
  padding: 12px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
.logoHolder {
  margin: 0 auto -25px auto;
  max-width: 370px;
  text-align: left;
}
.siteHeader h1 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.42px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.headerRight {
  list-style: none;
  margin: 0;
  padding: 0;
}
.headerRight li {
  display: inline-block;
  padding-left: 8px;
}
.inbox {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  padding-left: 15px;
}
.inbox span {
  display: inline-block;
}
.inbox .text {
  padding: 0 9px;
}
.inbox .count {
  width: 20px;
  height: 20px;
  color: var(--white);
  background-color: var(--red);
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
}
.inbox img {
  position: absolute;
  left: 0;
  top: -2px;
  width: 18px;
}
/* .btn {
  width: 155px;
  height: 44px;
  flex-shrink: 0;
}
.primary {
  border-radius: 6px;
  background: #2264e5;
} */
.navyColor {
  color: var(--navy);
}
.login {
  position: relative;
}
.login .dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 12px 0 0 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
.login .dropdown ul {
  background-color: var(--white);
  text-align: left;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  border: 1px solid var(--lightgray1);
  overflow: hidden;
}
.login:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown ul li {
  padding: 10px 7px 10px 7px;
  display: block;
  color: var(--black2);
  text-align: center;
}

.dropdown ul li a {
  display: block;
}
.dropdown li:hover {
}

.dropdown ul li a {
  color: var(--white);
}

/*  Sidebar style  */
.sidebar {
  position: relative;
  max-width: 50px;
  padding: 0;
  z-index: 99;
  background-color: transparent;
  transition: max-width linear 0.5s;
}
.sidebarSkin {
  width: 100%;
  background-color: var(--black1);
  height: 100%;
}
.sidebarSkin aside {
  width: auto;
  min-width: inherit;
  border: none;
}
.sidebarnav .ps-sidebar-container {
  background-color: transparent !important;
}
.sidebarnav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebarnav li {
  padding: 0;
  margin-bottom: 1px;
  color: var(--white);
}
.sidebarnav li a.ps-menu-button {
  color: var(--white);
  position: relative;
  transition: all linear 0.5s;
  background-color: var(--black2);
  display: block;
  padding: 20px 15px 35px 20px;
  height: inherit;
}
.sidebarnav li a.ps-menu-button:hover {
  background-color: var(--black1);
}
.sidebarnav li a img {
  position: absolute;
  left: 15px;
  top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.sidebarnav li.ps-active a {
  background-color: rgb(120, 119, 119);
}
.sidebarnav li a span span {
  display: none;
}

/* Content Area */

.contentArea {
  background-color: var(--lightgray2);
  padding: 10px 15px;
  font-size: 14px;
  width: calc(100% - 50px);
  transition: width linear 0.5s;
}
.infoBar {
  padding: 12px 10px;
  display: flex;
  flex-wrap: wrap;
}
.infoBar .infobarOptions button {
  background-color: var(--darkblue);
  border-color: var(--darkblue);
}
.infoBar .infobarOptions button:hover {
  background-color: var(--black1);
}
.inforTitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 40px;
}
.infobarOptions {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.infobarOptions li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid var(--gray1);
}
.infobarOptions li:first-child {
  padding-left: 0;
  border: none;
}
.infobarOptions li:last-child {
  padding-right: 0;
}
.infobarOptions li a {
  display: block;
  color: var(--blue1);
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.refresh {
  color: var(--purple);
  position: relative;
  display: inline-block;
  padding: 0 0 0 22px;
  font-size: 12px;
}
.refresh img {
  position: absolute;
  left: 0;
  top: -3px;
}
.importData {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 8px;
}
.topFilter {
  background-color: var(--blue3);
  padding: 10px;
}
.filterBtn {
  border: none;
  background-color: transparent;
}

.searchBar input {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border: 1px solid var(--gray1);
  border-radius: 6px;
  padding: 3px 5px;
  width: 195px;
  max-width: 320px;
}
.table th {
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
}
.importData .table th {
  background-color: var(--blue3);
  vertical-align: middle;
}
.importData .table th input {
  max-width: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--white);
  padding: 10px;
}
.importData .table th input[type="checkbox"] {
  width: 20px;
}
.importData .table .thead {
  background-color: var(--blue3);
}
.importData .table,
.importData .table td {
  vertical-align: middle;
  color: var(--blue1);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.importData .table td a {
  color: var(--blue1);
}
.importData .table td select {
  width: 100%;
  padding: 5px;
  border-color: var(--gray);
  border-radius: 5px;
  color: var(--gray);
}
.importData .table td.yes {
  color: var(--green);
}
.importData .table td.no {
  color: var(--red);
}
/* The container */
.checkholder {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 16px;
  height: 16px;
}
.pointer {
  cursor: pointer;
}
.pointer.highlight {
  background-color: var(--blue3);
}
.pointer.highlight td {
  background-color: var(--blue3);
}
/* Hide the browser's default checkbox */
.checkholder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkholder:hover input ~ .checkmark {
  background-color: var(--blue1);
}

/* When the checkbox is checked, add a blue background */
.checkholder input:checked ~ .checkmark {
  background-color: var(--blue2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkholder input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkholder .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.srNumber {
  display: inline-block;
  position: relative;
  top: -2px;
  left: 5px;
}
.btnArrow {
  background-color: var(--darkblue);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--white);
  border-radius: 20px;
  padding: 10px 16px;
}
.btnArrow svg {
  width: 20px;
  height: 12px;
  margin-top: -2px;
}
.btnArrow:hover svg {
  fill: var(--white);
}
.btnArrow:hover {
  background-color: var(--black1);
}

/* Activity Log Area */
.activityLogArea {
  background-color: var(--white);
  border-radius: 24px;
  padding: 35px 0;
}
.activityLogArea h2 {
  margin: 0 0 30px 15px;
  padding: 0;
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
}
.activityLogArea .table th {
  color: var(--gray);
  font-size: 14px;
  line-height: 22px;
}
.activityLogArea .table td {
  color: var(--black);
  font-size: 14px;
  line-height: 22px;
}
.activityLogArea .table th,
.activityLogArea .table td {
  padding: 17px 15px;
}

/* Add Lead */
.FormArea {
  background-color: var(--white);
  border-radius: 24px;
  padding: 20px;
}
.form-select {
  font-size: 14px;
  color: var(--gray);
}
.FormArea label {
  margin-bottom: 10px;
}
.form-control {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: var(--lightgray3);
}
.form-select {
  padding-top: 5px;
  padding-bottom: 5px;
}
.btnHolder a {
  margin-left: 10px;
  min-width: 44px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
.save {
  margin-left: 10px;
}
.modal-body label {
  padding: 10px 0;
}

/* mobile menu toggle button */
.sidebar-toggler {
  position: absolute;
  right: -11px;
  width: 40px;
  height: 40px;
  top: -33px;
  background-color: transparent;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  display: none;
  z-index: 99;
}
.collapsed .sidebar-toggler {
  right: -10px;
}
.menu-toggle {
  position: relative;
  display: inline-block;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
}
.menu-toggle span {
  margin: 0 auto;
  position: relative;
  top: 0px;
  transition-duration: 0s;
  transition-delay: 0.2s;
  transition: background-color 0.3s;
}
.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  content: "";
}
.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  width: 15px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  opacity: 1;
}
.menu-toggle span:before {
  margin-top: -6px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0;
}
.menu-toggle span:after {
  margin-top: 6px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0;
}

.menu-toggle-active span {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s background-color;
}
.menu-toggle-active span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, 0.2s;
}
.menu-toggle-active span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, 0.2s;
}
.sidebar.collapsed {
  position: relative;
  max-width: 50px;
  padding: 0;
}
.sidebar.collapsed .sidebarnav li a span span {
  display: none;
}

.sidebar.collapsed .sidebarnav li a.ps-menu-button {
  padding: 20px 15px 35px 20px;
}
.sidebar.collapsed + .contentArea {
  background-color: var(--lightgray2);
  padding: 10px 15px;
  font-size: 14px;
  width: calc(100% - 50px);
}
.sidebarSkin {
  position: fixed;
  inset: 0;
  width: 50px;
  margin-top: 44px;
}
.sidebar.collapsed .sidebarSkin {
  max-width: 50px;
}

.btn-confirm {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding: 6px 26px;
  font-family: muli;
  font-size: 16px;
  font-weight: normal;
  color: #102d53;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #c7f9d0;
  border: 1px #c7f9d0 solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  max-width: 100%;
}
.btn-reject {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  padding: 6px 26px;
  font-family: muli;
  font-size: 16px;
  font-weight: normal;
  color: #102d53;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fecdce;
  border: 1px #fecdce solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  max-width: 100%;
}

.form_details {
  color: var(--navy);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  max-width: 402px;
  margin: 0 auto;
  padding: 0 15px;
}
.form_details p span {
  font-size: 23px;
  font-weight: 700;
}
.form_details p a {
  display: block;
}
.form_details .btn {
  display: block;
}
.form-group {
  margin-bottom: 15px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.visitSite {
  min-width: 130px;
}
.form_details svg {
  margin: 10px 0;
}
.ticketWrapper {
  background-color: #fbfbfb;
  padding: 50px 0 20px 0;
  height: 100vh;
}
.text-right {
  text-align: right;
}
.form_holder {
  width: 100%;
  position: relative;
  /* background: #fff; */
  border-radius: 24px;
  max-width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.tickettitle {
  color: var(--orange);
  font-size: 18px;
  margin-bottom: 15px;
}
.subtitle {
  display: block;
  padding: 10px 0 0 0;
}
.logo-holder-inner {
  max-width: 370px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.logo-holder-inner a {
  color: var(--black);
}

.form_text_details img {
  border-radius: 12px;
  margin-top: 20px;
}
.time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgray1);
  padding-right: 15px;
  margin: 20px 0 20px 0;
}
.calenderOpt h5 {
  color: var(--navy);
}
.brands {
  display: flex;
  justify-content: space-between;
}
.calenderOpt {
  border-bottom: 1px solid var(--lightgray1);
  padding-bottom: 20px;
}
.mapSection {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  padding-bottom: 20px;
}
.mapSection span {
  padding: 20px 0;
}
.mapSection .addcomanion {
  text-align: left;
  padding: 0 15px;
}
.mapSection iframe {
  margin-bottom: 15px;
}
.mapSection .addcomanion a {
  color: var(--black1);
}
.addcomp {
  display: flex;
  align-items: center;
}
.title a {
  color: var(--black1);
}
.modal-footer .btn {
  /* background-color: var(--darkblue); */
  min-width: 120px;
}
.modal-footer .btn:hover {
  background-color: var(--black1);
  border-color: var(--darkblue);
}
.modal-footer .btn.btn-gray {
  border-color: var(--gray1);
}
.modal-footer .btn.btn-gray:hover {
  color: var(--white);
}
.loginWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper .userDatailbox {
  max-width: 360px;
  margin: 0 auto;
}
.otpBox > div {
  justify-content: space-between;
  gap: 10px;
}
.otpBox > div input {
  padding: 10px;
  margin: 0 0 20px 0;
  height: 50px;
  border-radius: 5px;
  width: 100% !important;
  display: block;
  border: 1px solid var(--lightgray3);
}
.btnholder button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.activityLogs {
  margin: 0;
  padding: 0;
}
.logtime {
  font-size: 12px;
  max-width: 100px;
}
.activityLogs li {
  gap: 20px;
  margin-bottom: 20px;
}
.leftSec {
  position: relative;
  border-right: 1px dashed var(--black);
  padding-right: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  min-width: 100px;
  text-align: right;
}
.leftSec:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--black);
  position: absolute;
  right: -4px;
  top: -5px;
}
.rightSec {
  font-size: 12px;
}
.box_shadow {
  box-shadow: 0 3px 15px 5px #e7e7e7;
  border-radius: 8px 8px;
}
.addticket .form_style {
  padding: 20px;
}
.addticket .form-select {
  height: 38px;
}
.event-btn {
  min-width: 120px;
  position: relative;
  text-indent: 5px;
}

.connectRegister h2 {
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  font-family: "Bebas Neue", serif;
}
.connectRegister .selectphone,
.addticket .selectphone {
  padding: 0;
  height: 45px;
}
.connectRegister .btn,
.successmodel .btn {
  margin-top: 15px;
  width: 100%;
  display: block;
  background-color: var(--orange1);
  height: 52px;
  text-transform: uppercase;
  border-radius: 4px;
}
.connectRegister input::placeholder,
.connectRegister select::placeholder {
  color: #afafaf;
}
.successmodel .modal-dialog {
  max-width: 393px;
}
.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}
.radioholder {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 48%;
}

/* Hide the browser's default radio button */
.radioholder input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkedradio {
  position: relative;
  display: block;
  background-color: #f3f3f3;
  padding: 11px 5px;
  border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.radioholder:hover input ~ .checkedradio {
  background-color: var(--orange1);
  color: var(--white);
}

/* When the radio button is checked, add a blue background */
.radioholder input:checked ~ .checkedradio {
  background-color: var(--orange1);
  color: var(--white);
}

/* Show the indicator (dot/circle) when checked */
.radioholder input:checked ~ .checkedradio:after {
  display: block;
}
.successmodel .modal-content {
  padding-left: 16px;
  padding-right: 16px;
}
.successmodel h1 {
  color: #40c7a3;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.successmodel .modal-title {
  width: 100%;
  text-align: center;
}
.successmodel .modal-header {
  padding: 15px 0 0 0;
  margin: 0;
  border: none;
}
.successmodel .wrapper {
  padding: 0;
  height: inherit;
}
.successmodel .userData {
  padding: 25px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.userData .col-md-6 {
  padding-bottom: 15px;
}
.successmodel .btn-close {
  right: 15px;
  top: 15px;
  position: absolute;
}
.userData .col-md-6:nth-child(odd) {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #afafaf;
}
.userData .col-md-6:nth-child(even) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000000;
}
.registernewbtn svg {
  margin-right: 10px;
}
.selectholder input {
  color: transparent;
  /* min-height: 46px; */
}
.selectholder input:focus {
  color: transparent;
}
.selectholder input::-moz-selection {
  color: #fff;
}
.selectholder input::-webkit--selection {
  color: #fff;
}
.selectholder input::selection {
  color: transparent;
}
.selectholder .selecteddate input {
  color: var(--gray1);
  font-size: 16px;
}

.custom-placeholder-wrapper {
  position: relative;
}

.custom-placeholder {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
}

.custom-placeholder-wrapper input:focus + .custom-placeholder,
.custom-placeholder-wrapper
  input:not(:placeholder-shown)
  + .custom-placeholder {
  display: none;
}

.formBox .ant-select {
  display: block;
  width: 100%;
  padding: 0;
  height: inherit;
  overflow: hidden;
  border: none;
}
.formBox .ant-select .ant-select-selector {
  padding: 0;
}
.formBox .ant-select .ant-select-selection-item {
  display: block;
  width: 100%;
  border: 1px solid #dee2e6;
  height: 46px;
  border-radius: 0.375em;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 30px;
}
.formBox .ant-select .ant-select-selection-item[title] {
  color: var(--gray);
}
.phLeft input::placeholder {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
}
.formBox .ant-select .ant-select-arrow {
  color: var(--black);
}

.ant-select-dropdown {
  z-index: 1055 !important;
}

:where(.css-dev-only-do-not-override-142vneq).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: transparent !important;
  background: #ffffff;
}
:where(.css-nqoqt9).ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: transparent !important;
  background: #ffffff;
}
@media only screen and (max-width: 767px) {
  .addticket .form_details .btn {
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .wrapper {
    padding-top: 74px;
  }
  .inbox {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    padding-left: 25px;
  }
  .siteHeader {
    padding: 27px 0;
  }
  .headerRight li {
    padding-left: 20px;
  }
  .inbox img {
    width: auto;
  }
  .inbox .count {
    width: 23px;
    height: 23px;
    font-size: 16px;
  }
  .sidebarnav li a span span {
    display: inline-block;
  }
  .sidebar {
    max-width: 218px;
    padding: 0;
  }
  .sidebarnav li a.ps-menu-button {
    padding: 20px 15px 20px 43px;
  }
  .contentArea {
    padding: 20px 30px;
    width: calc(100% - 218px);
  }
  .topFilter {
    padding: 15px 15px;
  }
  .infoBar {
    padding: 25px 10px;
  }
  .infobarOptions {
    padding: 0 0;
  }
  .infobarOptions li {
    padding: 0 30px;
  }
  .sidebar-toggler {
    display: block;
  }
  .login .dropdown {
    padding: 30px 0 0 0;
  }
  .sidebarSkin {
    width: 218px;
    margin-top: 74px;
  }
  .pr-md-10 {
    padding-right: 5px;
  }
  div[dir="rtl"] .pr-md-10 {
    padding-left: 5px;
    padding-right: 15px;
  }
  .pl-md-10 {
    padding-left: 5px;
  }
  div[dir="rtl"] .pl-md-10 {
    padding-right: 5px;
    padding-left: 15px;
  }
  .successmodel .modal-dialog {
    max-width: 600px;
  }
}
@media only screen and (min-width: 992px) {
  .refresh {
    color: var(--purple);
    position: relative;
    display: inline-block;
    padding: 0 0 0 32px;
    font-size: 14px;
  }
  .refresh img {
    top: -1px;
  }
  .searchBar input {
    width: 320px;
  }
  .FormArea {
    padding: 35px 30px;
  }
  .offcanvas {
    width: 60% !important;
  }
  .leftSec {
    max-width: 140px;
  }
  .leftSec,
  .rightSec {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  .form_details,
  .form_details p,
  .form_details b,
  .form_details p a,
  .form_text_details,
  .form_text_details p,
  .form_text_details b,
  .form_text_details p a {
    color: #ffffff;
  }
  .form_holder {
    color: #fff;
  }
  .form_holder * {
    color: #fff;
  }
}
